<h1>ユーザー一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>Eメール</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.order_number %></td>
        <td><%= item.item_number %></td>
        <td><%= item.part_number %></td>
        <td><%= item.supplier_reply %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with url: import_items_path, local: true do |form| %>
  <%= form.file_field :file %>
  <%= form.submit %>
<% end %>