<h1>検索結果</h1>
<table class="sticky_table">
  <thead>
    <tr>
      <th rowspan="2" class="part_number">Part number</th>
      <th class="th_points" colspan="4">溶接箇所数</th>
      <th rowspan="2">Tig</th>
      <th rowspan="2">追加工</th>
      <th rowspan="2">曲げ</th>
      <th rowspan="2">レーザー</th>
      <th rowspan="2">バルブ</th>
      <th rowspan="2">EBW</th>
      <th rowspan="2">長尺</th>
      <th rowspan="2" class="right">外注</th>
    </tr>
    <tr>
      <th class="diagonal-fractions">1/2″</th>
      <th class="diagonal-fractions">3/8″</th>
      <th class="diagonal-fractions">1/4″</th>
      <th class="diagonal-fractions">1/8″</th>
    </tr>
  </thead>
  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td class="part_title" rowspan="2">
          <%= link_to(part.part_number, "/items/part/#{part.part_number}") %>
          <%= link_to("/parts/edit/#{part.part_number}", class: "far") do %>
            <i class="far fa-edit part_edit" title="編集"></i>
          <% end %>
          <%= link_to("/parts/destroy/#{part.part_number}", class: "far", data: {confirm: "削除しますか？"}, title: "削除確認" ) do %>
            <i class="far fa-trash-alt part_edit" title="削除"></i>
          <% end %>
        </td>
        <td class="points" colspan="4">
          <% points = part.half + part.thr_eth + part.qtr + part.eth %>
          <% if points == 0 %>
            -
          <% else %>
            <%= points %>
          <% end %>
        </td>
        <td rowspan="2"><% if part.tig %><i class="fas fa-check"></i><% else %>-<% end %></td>
        <td rowspan="2"><% if part.add %><i class="fas fa-check"></i><% else %>-<% end %></td>
        <td rowspan="2"><% if part.bend %><i class="fas fa-check"></i><% else %>-<% end %></td>
        <td rowspan="2"><% if part.laser %><i class="fas fa-check"></i><% else %>-<% end %></td>
        <td rowspan="2"><% if part.valve %><i class="fas fa-check"></i><% else %>-<% end %></td>
        <td rowspan="2"><% if part.ebw %><i class="fas fa-check"></i><% else %>-<% end %></td>
        <td rowspan="2"><% if part.long %><i class="fas fa-check"></i><% else %>-<% end %></td>
        <td rowspan="2" class="right"><% if part.out %><i class="fas fa-check"></i><% else %>-<% end %></td>
      </tr>
      <tr>
        <td class="point"><% if part.half == 0 %>-<% else %><%= part.half %><% end %></td>
        <td class="point"><% if part.thr_eth == 0 %>-<% else %><%= part.thr_eth %><% end %></td>
        <td class="point"><% if part.qtr == 0 %>-<% else %><%= part.qtr %><% end %></td>
        <td class="point"><% if part.eth == 0 %>-<% else %><%= part.eth %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>