<h1>日付変更分</h1>

<div>
  <% qty_total = 0 %>
  <% points_total = 0 %>
  <% i = 0 %>
  <% while i < @items.length do %>
    <table>
      <thead>
        <tr>
          <th>Order number</th>
          <th>Item</th>
          <th class="part">Part number</th>
          <th>Qty</th>
          <th class="status">Status</th>
          <th>前回回答</th>
          <th>Supplier reply</th>
          <th>工番</th>
          <th class="note">備考</th>
          <th class="right">溶接数</th>
        </tr>
      </thead>

      <tbody>
        <% loop { %>
          <% qty_total += @items[i][:qty] %>
          <% points_total += @items[i][:points] %>
          
          <tr>
            <td><%= @items[i][:order_number] %></td>
            <td><%= @items[i][:item_number] %></td>
            <% if @part_numbers.include?(@items[i][:part_number]) %>
              <td>
            <% else %>
              <td class="unregisted">
            <% end %>
            <%= link_to(@items[i][:part_number], "/items/part/#{@items[i][:part_number]}") %></td>
            <td><%= @items[i][:qty] %></td>
            <% if @items[i][:status] == "Pull in" %>
              <td class="pull_in">
            <% elsif @items[i][:status] == "Push out" %>
              <td class="push_out">
            <% elsif @items[i][:status] == "New" %>
              <td class="new">
            <% else %>
              <td class="remain">
            <% end %>
            <%= @items[i][:status] %>
            </td>
            <td class="ex_reply"><% if @items[i][:ex_reply] %><%= @items[i][:ex_reply].strftime('%Y/%m/%d') %><% end %></td>
            <td><%= link_to(@items[i][:supplier_reply].strftime('%Y/%m/%d'), "/items/date/#{@items[i][:supplier_reply]}") %></td>
            <td><%= link_to(@items[i][:work_number], "/items/work/#{@items[i][:work_number]}") %></td>
            <td><%= @items[i][:note] %></td>
            <td class="right">
              <% if @items[i][:points] == 0 %>
                -
              <% else %>
               <%= @items[i][:points] %>
              <% end %>
            </td>
          </tr>

          <% if @items[i + 1] && @items[i][:ex_reply] != @items[i + 1][:ex_reply] || !@items[i + 1] %>
            <% i += 1 %>
            <% break %>
          <% end %>

          <% i += 1 %>
        <% } %>
      </tbody>
    
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="total"><%= qty_total %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="total"><%= points_total %></td>
        </tr>
        <% qty_total = 0 %>
        <% points_total = 0 %>
      </tfoot>
    </table>
  <% end %>
</div>